@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components{
    .name{
        @apply tailwindcode
    }
} */

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
::-webkit-scrollbar {
  background-color: rgba(140, 170, 159, 0.267);
  border-radius: 10px;
  width: 4px;
}
main, footer{
    background-color: #6C86E0;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  
  li {
    padding-left: 1em;
    text-indent: -1em;
  }
  
  li:before {
    content: "-";
    padding-right: 5px;
  }
  .logo-top{
    top:-53px;

  }
  .logo-topmob{
    top:-30px;

  }
  @media (min-width: 640px){    
    .videof{
      width: 596px;
      height:296px;
    }

  }
  
/* .segments{
  background-attachment: fixed;
} */
.segments{
  background-image: url(../public/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -120px ;
}
@media (max-width: 450px){    
  .segments{
    background-image: url(../public/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 140px; 
    background-position-x: center; 
  } 
}
.segment-1{
  background-image: url(../public/heroimg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.segment-2{
  background-image: url(../public/ronda-foto-300x190.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.segment-4{
  background-image: url(../public/docs.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.segment-3{
  background-image: url(../public/about2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #326754;
  background-position: center;
}

.content-div{
  
  background-image:linear-gradient( to right,
  rgb(50,103,84), rgba(40, 225, 140, 0.1) ),
   url('/lawyers2.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.content-div3{
  
  background-image:linear-gradient( to right,
  rgba(255, 255, 255, 0.473),rgba(255, 255, 255, 0.747) )
   ;
  background-position:  right;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-div2{
  background-image:linear-gradient( to right,
  rgb(50,103,84), rgba(40, 225, 140, 0.1) ),
  url('/architects.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
  .content-div:hover{
    background-image:
    linear-gradient( to right,
    rgb(50,103,84), rgba(40, 225, 140, 0.1) ),
     url('/lawyers2.jpg');
    }
  .content-div2:hover{
    background-image:
    linear-gradient(to right,
    rgb(50,103,84), rgba(40, 225, 140, 0.1)),
     url('/architects.jpg');
    }

    .image-cover  {
      height:260px;
    }
  /*
  -remove the classes below if you have the 'group-hover'property added in your tailwind config file
  -also remove the class from the html template
  */
    .content-div:hover .fd-cl{ 
 opacity: 0.25;
    }
    .content-div:hover .fd-sh{ 
 opacity: 1;
    }

.flujo_cuadro{
  -webkit-box-shadow: 5px 5px 26px 6px #CFE0C9; 
  box-shadow: 5px 5px 26px 6px #CFE0C9;
  
}

.contenedor_flujo{
  scrollbar-width: auto;
  scrollbar-color: rgba(42,97,77,0.6) #ffffff;
}

/* Chrome, Edge, and Safari */
.contenedor_flujo::-webkit-scrollbar {
  width: 8px;
}

.contenedor_flujo::-webkit-scrollbar-thumb {
  background-color: rgba(42,97,77,0.6);
  border-radius: 10px;
}
@media (min-width: 360px){      
  .videoh{
    height: 420px;
  }
}
.videoh2{
  height: 220px;
}


.navitem.active{
  background-color:#E9FCF3;
}


.text{
  background-image:
    linear-gradient(
      transparent 0%,
      transparent 90%,
      rgba(229, 173, 53, 0.267) 90%,
      rgba(229, 173, 53, 0.282) 100%
    );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;
  transition: background-size 300ms;
}
.text:hover{
background-size: 100% 100%;
background-position-x: left;
}

.item{
  border-radius: 10px;
  border-bottom: 1px solid #106f2e ;
  padding: 0.5rem 1rem ;
  margin-top: 15px;

}
.item2{
  border-radius: 10px;
  border-bottom: 1px solid #fff ;
  padding: 0.5rem 1rem ;
  margin-top: 15px;

}
.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  
}

.content{
  margin-top: 5px;
  letter-spacing: 0.025em;
  max-height: 0px;
  overflow: hidden;
  transition:all 0.25s cubic-bezier(0,1,0,1);
}

.content.show {
  height: auto;
  max-height: 100%;
  font-size:18px;
  
  transition:all 0.25s cubic-bezier(1,0,1,0) ;
}
audio{
  width: 100%;
  background-color: #F1F3F4;
  border-radius: 10px;
  color: #326e8c;
}
.player{
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.content-divplayer{
  
  background-image:linear-gradient( to right,
  rgb(50,103,84), rgba(40, 225, 140, 0.1) ),
   url('/lawyers2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

