@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components{
    .name{
        @apply tailwindcode
    }
} */

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
::-webkit-scrollbar{
    display: none;  
}
main, footer{
    background-color: #6C86E0;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  
  li {
    padding-left: 1em;
    text-indent: -1em;
  }
  
  li:before {
    content: "-";
    padding-right: 5px;
  }
  .logo-top{
    top:-53px;

  }
  .logo-topmob{
    top:-30px;

  }
  @media (min-width: 640px){    
    .videof{
      width: 596px;
      height:296px;
    }

  }
  
  