.home_container{
    width: auto;
    position: absolute;
    height: 914px ;
    display: grid;
    grid-template-columns: 6fr 1fr;
    /* grid-template-columns: repeat(auto-fill, minmax(150px,1fr)); */
    background-color: aquamarine;
    background-color: #DEE6FF;
    margin-top: 120px;


}